OPENWEATHER_API_KEY="OpenWeather API key"
TELEGRAM_BOT_TOKEN="Telegram bot token"
TELEGRAM_CHAT_ID="Telegram chat ID"
LATITUDE="Enter the latitude of your farm here"
LONGITUDE="Enter the longitude of your farm here"